.line {
    border-bottom: 1px solid #cacaca;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    height: 60px;


}

.social {
    display: flex;
    align-items: center;
}

.heder__title {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    color: #1E2E36;
}

.heder__social {
    display: flex;

    margin-left: 5px;
    margin-right: 50px;
}

.heder__social__item:not(:last-child) {
    margin-right: 5px;
}

.header__tel {
    display: flex;
    align-items: center;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    align-items: flex-end;
    text-transform: uppercase;
    color: #1E2E36;
}

.header__tel-icon {
    margin-right: 5px;
}

.header__chevron-icon {
    margin-left: 5px;
}

.nav__pages {
    display: flex;

}



.nav__page__link-activ {
    border-bottom: 3px solid var(--accent-color)
}

.nav__page__link {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;
    color: #1E2E36;


}

.nav__pages_item:not(:last-child) {
    margin-right: 15px;
}

.header__nav {
    display: flex;
    align-items: center;


}

.header__categori {
    display: flex;
    margin-right: 115px;
}

.header__categori__item:not(:last-child) {
    margin-right: 15px;
}

.header__categori__link {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;
    color: #1E2E36;
    display: flex;
    align-items: center;
}

.header__categori__link::after {

    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../../images/icons/chevron-left.svg');
    // background-image: url('https://cdn-icons-png.flaticon.com/512/599/599502.png');
}

.header__logo {
    display: flex;
    align-items: center;
    padding: 15px 0;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
    color: #1E2E36;
}

.logo__text {
    color: #44C697;
    margin-left: 15px;
}

.header__order {
    margin-left: auto;
    display: flex;

}

.shopping-cart {
    display: flex;
    align-items: center;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;
    color: #1E2E36;
    margin-right: 30px;
}

.shopping-cart-icon {
    margin-right: 5px;
}

.btn_call {
    padding: 14px 46px;
    width: 278px;
    height: 51px;
    background: #44C697;
    border-radius: 3px;

    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;
    color: #FFFFFF;
}